.rainbow {
  animation: rainbow 600ms;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {
    color: burlywood;
  }
  15% {
    color: orange;
  }

  30% {
    color: yellow;
  }

  45% {
    color: blue;
  }

  60% {
    color: red;
  }
  75% {
    color: indigo;
  }
  90% {
    color: purple;
  }
}
